<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>jettegabriel - exercice 09</title>
</head>
<body>
  <h1>jettegabriel - exercice 09</h1>
    <form action="/adresse" method="POST">
    <input type="text" placeholder="Nom" name="nom"></br>
    <input type="text" placeholder="Prénom" name="prenom"></br>
    <input type="text" placeholder="Telephone" name="telephone"></br>
    <input type="text" placeholder="Code postal" name="codePostal"></br>
    <button type="submit">Soumettre</button>
  </form>

  <ul class="adresse">
  <% for(var i=0; i<adresse.length; i++) {%>
    <li class="client">
      <span>Nom : <%= adresse[i].nom %></span></br>
      <span>Prénom :<%= adresse[i].prenom %></span></br>
      <span>Téléphone : <%= adresse[i].telephone %></span></br>
      <span>Code Postal : <%= adresse[i].codePostal %></span>
    </li></br>
  <% } %>
  </ul>
  <script type="text/javascript" src="serveur.js"></script>

</body>
</html>